<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>


<button class="open-button" onclick="openForm()">Подпишитесь</button>

<div class="form-popup" id="myForm">
  <form action="#" class="form-container">
    <h1>Подписаться</h1>

    <label ><b>Имя</b></label>
    <input type="text" placeholder="Ваше имя" name="name" required>

  <label ><b>Е-мейл</b></label>
    <input type="text" placeholder="Ваш е-мейл" name="email" required>

    <button type="submit" class="btn">Отправить</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Закрыть</button>
  </form>
</div>

</body>
</html>