.form-popup {
    display: none;
    position: fixed;
    border: 3px solid #f1f1f1;
    z-index: 1000;
    opacity: 0.98;
    top: 110px;
    left: 40%;
}

@media (max-width: 650px) {
    .form-popup {
        left: 10%;
    }
}

h3 {
    text-align: center;
    margin-bottom: 15px;
}


.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #D4BDA1;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  font-size: 15px;
  font-weight: bold;
}

.form-container .cancel {
  background-color: #D4BDA1;
    color: black;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

