@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: none;
}

html, body {
  scroll-behavior: smooth;
	height: 100%;
	width: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    /*background-image: url("../images/bg1.png");*/
    /*background-size: cover;*/
}

/*!* BG IMAGE SLIDER *!*/
.wrap {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	background: #120103;
}

#active {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10%;
    margin-right: 20%;
	z-index: 10;
}

#active label {
	display: inline-block;/*расположение в строку*/
    width: 10px;
    height: 10px;
    background: #c4c4c400;
    border: 1px solid #120103;
}
#active label:hover{/*поведение чекбокса при наведении*/
    background: #ffffff;
    border-color: #120103 !important; /*выполнение в любом случае*/
}
#slide-1:checked ~ #active label:nth-child(1),
#slide-2:checked ~ #active label:nth-child(2),
#slide-3:checked ~ #active label:nth-child(3){
    background: #000;
    border-color: #120103 !important;
}

.slide {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 1;
	padding: 8em 1em 0;
	background-color: #120103;
	background-position: 50% 50%;
	background-size: cover;
	transition: left 0s .75s;
    filter: brightness(90%) blur(3px);
}

.slide-one {
	background-image: url(../img/bg_imgs/bg1.png);
}
.slide-two {
	background-image: url(../img/bg_imgs/bg2.png);
}
.slide-three {
	background-image: url(../img/bg_imgs/bg3.png);
}

[id^='slide']:checked + .slide {
	left: 0;
	z-index: 2;
	transition: left .65s ease-out;
}

/* HEADER */
header {
    position: fixed;
    width: 100%;
    padding: 10px 0.5% 0 0.5%;
    background-color: #D4BDA1;
    opacity: 0.9;
     /* определяет куда прикрепляется текст */
    top: 0;
    z-index: 1000;
}
/* logo styles */
header .mini_logo {
    cursor: pointer; /* при наведении меняет курсор */
}
#about {
    text-align: right;
    margin-right: 4%;
    font-size: 1em;
    line-height: 40px;
    margin-bottom: 10px;
}

#about > a {
    color: #000;
    text-decoration: none;
}
#about > a:hover {
    color: #836C58;
    text-decoration: none;
}
#about > a:not(:last-child) {margin-right: 7%}

@media (min-width: 651px) {
    .mini_logo {
        float: left;
        margin-left: 4%;
    }
}

@media (max-width: 650px) {
    .mini_logo {
        position: absolute;
        margin-left: -100%;
    }
    #about {
        text-align: center;
    }
}


#big_logo {
    position: absolute;
    top: 0;
    margin-top: 15%;
    margin-left: 10%;
    z-index: 3;
}

.text_main_page {
    position: absolute;
    bottom: 0;
    margin-bottom: 15%;
    right: 0;
    margin-right: 10%;
    z-index: 3;
    color: #000;
}

#main_text1 {
    /*position: absolute;*/
    font-size: 3em;
    text-transform: uppercase;
}

#main_text2 {
    /*position: absolute;*/
    margin-top: 4%;
    font-size: 1em;
    
}

@media (max-width: 900px) {
    #big_logo {
        margin-top: 30%;
        margin-left: 16%;
       
    }
    .text_main_page {
        text-align: center;
        margin-right: 5%;
        margin-bottom: 10%;
    }

    #active {
        margin-right: 50%;
        margin-bottom: 3%;
    }
}

/*head text class*/
.head_text {
    margin-top: 64px;
    text-align: center;
    font-size: 24px;
    line-height: 150%;
    text-transform: uppercase;
}

/*Sales block*/

#sales {
}

.picText {
  display: flex;
  width: 300px;
}

.picText > span {
  position: absolute;
  margin-top: 200px;
  margin-left: 70px;
  font-size: 30px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.top-left {
    position: absolute;
    top: 15%;
    left: 16px;
}

.upper-text {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 120%;
}


#menu {
    width: 100%;
}

#contacts {
    width: 100%;
}

#gallery {
    width: 100%;
}


/* FOOTER */
footer {
    padding: 1rem;
}

footer {
    background: #836C58;
    color: #FFFFFF;
}

#copyright {
    width: 20%;
    float: left
}

#social {
    text-align: right;
    margin-right: 4%;
    font-size: 1em;
    line-height: 40px;
    margin-bottom: 10px;
}

#social > a {
    color: #fff;
    text-decoration: none;
}
#social > a:hover {
    color: #836C58;
    text-decoration: none;
}
#social > a:not(:last-child) {margin-right: 7%}



















